{
  "env": {
    "products": {
      "plugins": [
        "lodash"
      ]
    },
    "test": {
      "plugins": [
        "@babel/plugin-transform-modules-commonjs"
      ]
    }
  },
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }]
  ],
  "presets": [
    "@babel/preset-react"
  ]
}
