{
  "env": {
    "products": {
      "plugins": [
        "lodash"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  },
  "plugins": [
    "syntax-dynamic-import",
    "transform-class-properties"
  ],
  "presets": [
    "react"
  ]
}
