<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta content="initial-scale=1,width=device-width" name="viewport">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
