<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta content="initial-scale=1,width=device-width" name="viewport">
    <meta content="MastodonKaigi website." name="description">
    <meta content="MastodonKaigi,Mastodon会議,Mastodon" name="keywords">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
